.card.hover { outline: 1px solid black; }

.story.card .story-effort.editor { float:right; display: block; margin-top: 20px;}
.story.card .story-owner.editor { margin-right:10px;}
.story.card .users { clear: left; float: left; padding-top: 20px;}
.story.card .content { margin-bottom: 15px; }
.story.card .creation-details { font-style: italic; }

body.show-page.bucket .filter { float: right; }
body.show-page.bucket .filter form { display: inline; }

.aside-info { position:fixed; width: 220px; }