html {background: #0f2639;}
.page-header {padding: 0; margin-top: 15px; margin-bottom: 0;}
.page-header {
  width: 100%;/* height: 96px;*/
  background: url(/images/header-bg.png) top left repeat-x;
}
.page-header h1 {padding: 30px 40px;}
 
.page-header .nav {margin: 0; background: #101d27;}
.main-nav {padding-left: 20px;}
.main-nav a {padding: 7px 8px 8px; border: none; background: none;}
.main-nav a:hover {border:none; background: black;}
.account-nav {top: -15px;}
.aside-content {background: #c7dbe6;}

.card.hover { outline: 1px solid black; }

.story.card .story-effort.editor { float:right; display: block; margin-top: 20px;}
.story.card .story-owner.editor { margin-right:10px;}
.story.card .users { clear: left; float: left; padding-top: 20px;}
.story.card .content { margin-bottom: 15px; }
.story.card .creation-details { font-style: italic; }

body.show-page.bucket .filter { float: right; }
body.show-page.bucket .filter form { display: inline; }

.aside-info { position:fixed; width: 220px; }